body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #d6e1f0;
    display: flex;
    align-items: center;
    width:100vw;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    height: 495px;
    border-radius: 14px;
    background: #fff;
    box-shadow: 6px 5px 70px 0px rgba(39, 39, 39, 0.25);


}
.image {
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 10px;
}

.title {
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    color: #0a164a;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.text {
    display: flex;
    flex-direction: column;
    color: #8c8c8c;
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
}
